@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

/* Leftward scrolling */
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Rightward scrolling */
@keyframes marqueeReverse {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
